const cbusModules = require('./modules.js')

exports.NET_PORT = 5551

exports.modules = [
    /*
    new cbusModules.CANACC5 (0)				  	      	// type 02 - un-initialised
    ,new cbusModules.CANACC8 (0)					        // type 03 - un-initialised
    ,new cbusModules.CANACC8 (0)					        // type 03 - un-initialised
    ,*/
    new cbusModules.CANTEST (1)				    	    // TEST
    ,new cbusModules.MMCTEST (2)				    	    // TEST
    ,new cbusModules.SLOTTEST (3)				    	    // TEST
    ,new cbusModules.CAN4IN4OUT (4)				        // DEVELOPMENT
    ,new cbusModules.CAN1IN1OUT (5)				        // DEVELOPMENT
    ,new cbusModules.VLCBTEST (9)				          // DEVELOPMENT
    ,new cbusModules.CANACC4 (10)			      	    // type 01
    ,new cbusModules.CANACC5 (20)				  	      // type 02
    ,new cbusModules.CANACC8 (30)					        // type 03
    ,new cbusModules.CANACE3 (40)  				        // type 04
    ,new cbusModules.CANACE8C (50)				        // type 05
    /*
    ,new cbusModules.CANLED64 (70)				        // type 07
    ,new cbusModules.CANACC4_2 (80)				        // type 08
    ,new cbusModules.CANCMD_4d (100)    	        // type 10
    ,new cbusModules.CANCMD_4f (101)   	          // type 10
    ,new cbusModules.CANSERVO (110)				        // type 11
    ,new cbusModules.CANTOTI (170)				        // type 17
    ,new cbusModules.CANSERVO8C (190)				      // type 19
    ,new cbusModules.CANPAN (290)				          // type 29
    ,new cbusModules.CANPAN_4c (291)		          // type 29
    ,new cbusModules.CANACE3C (300)				        // type 30
    ,new cbusModules.CANPanel (310)				        // type 31
    ,new cbusModules.CANMIO_3a (321)		          // type 32
    ,new cbusModules.CANMIO_3c (323)		          // type 32
    ,new cbusModules.CANMIO_3d (324)		          // type 32
    ,new cbusModules.CANMIO_3e (325)		          // type 32
    ,new cbusModules.CANMIO_4a (326)		          // type 32
    ,new cbusModules.CANMIO_4b (327)		          // type 32
    */
    ,new cbusModules.CANMIO_4c (328)		          // type 32
    /*
    ,new cbusModules.CANACE8MIO (330)		          // type 33
    ,new cbusModules.CANSOL (340)				          // type 34
    ,new cbusModules.CANSCAN (490)				        // type 49
    ,new cbusModules.CANMIO_SVO (500)		          // type 50
    ,new cbusModules.CANMIO_INP (510)		          // type 51
    ,new cbusModules.CANMIO_OUT (520)		          // type 52
    ,new cbusModules.CANBIP_OUT (530)		          // type 53
    ,new cbusModules.CANCSB_4d (550)		          // type 55
    ,new cbusModules.CANCSB_4f (551)		          // type 55
    ,new cbusModules.CANPiNODE (580)		          // type 58
    ,new cbusModules.CANCOMPUTE (600)		          // type 60
    ,new cbusModules.CANINP (620)				          // type 62
    ,new cbusModules.CANXIO_46K80_3e (640)        // type 64
    ,new cbusModules.CANXIO_46K80_4a (641)        // type 64
    ,new cbusModules.CANXIO_27Q84_4a (642)        // type 64
    ,new cbusModules.CANGATE_1c (750)             // type 75
    ,new cbusModules.CANLEVER (800)				        // type 80
    ,new cbusModules.CANCMDB_4f (830)			        // type 83
    ,new cbusModules.CANARGB_1a (870)			        // type 87
    ,new cbusModules.CANMIO_test_adapter (65000)  // type 32
    ,new cbusModules.CANMIO_UUT (65001)           // type 32
    ,new cbusModules.CANCMD_4f (65534)   	        // type 10
    ,new cbusModules.CANCAB (65535)   		        // type 09
    */
]

